<mat-toolbar [color]="'warn'">
  <div class="left">
    <button mat-button (click)="onStartGame()">New game</button>
  </div>
  <div class="center" *ngIf="sudoku">
    <p class="time">{{ timer | formatTime }}</p>
  </div>
  <div class="right" *ngIf="sudoku">
    <button mat-button (click)="validate()">Validate</button>
  </div>
</mat-toolbar>

<main>
  <div *ngIf="!sudoku" class="spinner-container">
    <div class="wavy-text">
      <span style="--i:1">S</span>
      <span style="--i:2">T</span>
      <span style="--i:3">A</span>
      <span style="--i:4">R</span>
      <span style="--i:5">T</span>
      <span>&nbsp; </span>
      <span style="--i:6">T</span>
      <span style="--i:7">H</span>
      <span style="--i:8">E</span>
      <span>&nbsp; </span>
      <span style="--i:9">G </span>
      <span style="--i:10">A</span>
      <span style="--i:11">M</span>
      <span style="--i:12">E</span>
      <span style="--i:13">.</span>
      <span style="--i:14">.</span>
      <span style="--i:15">.</span>
    </div>
  </div>

  <ng-container *ngIf="sudoku">
    <sudoku-board [sudoku]="sudoku" (finish)="onGameFinished($event)"></sudoku-board>
  </ng-container>
</main>
